/* Global */
:root
{
    /* accent colors */
    --color-primary: #FF8605;
    --color-primary-darken: #E07400;
    --color-primary-lighten: #FFF1E2;
    --color-secondary: #038DDC;
    --color-secondary-darken: #0B4EA6;
    --color-secondary-lighten: #E2F2FC;
    --color-tertiary: #00E0B0;
    --color-tertiary-darken: #00E0B0;
    --color-tertiary-lighten: #E2FCF6;
    
    /* page colors */
    --color-background-light: #FFFFFF;
    --color-background-light-darken: #F4F5F7;
    --color-background-dark: #18191F;
    --color-background-dark-darken: #000000;
    --color-background-dark-lighten: #969BAB;
    
}


/* Utility clases */

.font-light, .color-light
{
    color: var(--color-background-light);
}

.font-dark, .color-dark
{
    color: var(--color-background-dark);
}

.bg-light
{
    background-color: var(--color-background-light);
}

.bg-light-darken
{
    background-color: var(--color-background-light-darken);
}

.bg-dark
{
    background-color: var(--color-background-dark);
}

.bg-dark-darken
{
    background-color: var(--color-background-light);
}

.bg-primary
{
    background-color: var(--color-primary);
}

.bg-primary-lighten
{
    background-color: var(--color-primary-lighten);
}

.bg-secondary
{
    background-color: var(--color-secondary);
}

.bg-secondary-darken
{
    background-color: var(--color-secondary-darken);
}

.bg-tertiary
{
    background-color: var(--color-tertiary);
}

.text-center
{
    text-align: center;
}

.text-left
{
    text-align: left;
}

.flex-1-2-container
{
    display: flex;
}

.flex-1-item
{
    flex-grow: 0.05;
    flex-shrink: 0.1;
}

.flex-2-item
{
    flex-grow: 1;
    flex-shrink: 1;
}

.center 
{
    margin: auto;
    width: 50%;
}

.center-anchor
{
    width: 1px;
    margin: auto;
    overflow: visible;
}

/* General classes */

.btn
{
    display: block;
    padding: 10px 16px;
    border-radius: 12px;
    align-items: center;

    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    line-height: 20px;
}

.btn-primary
{
    border-width: 0;
    background-color: var(--color-primary);
    color: var(--color-background-light);
}

.btn-primary:hover
{
    background-color: var(--color-primary-darken);
    color: var(--color-background-light-darken);
}

.btn-secondary
{
    border: 1px solid;
    box-sizing: border-box;
    background-color: var(--color-secondary);
    color: var(--color-background-light);
}

.btn-secondary:hover
{
    outline-color: var(--color-background-light-darken);
    background-color: var(--color-secondary);
    color: var(--color-background-light-darken);
}

.sub-text
{
    margin: 5px 0px;
    font-family: Manrope, Nunito, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.sub-sub-text
{
    margin: 5px 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-background-dark-lighten);
}

.card
{
    margin: 8px;
    border-radius: 12px;
    padding: 16px;
    overflow: hidden;
}

.section-icon
{
    display: block;
    width: 19%;
    max-width: 128px;
    margin: auto;
}

.intersection-wiggle
{
    position: absolute;
    overflow: hidden;
    width: 60%;
    margin-left: 40%;
    margin-top: -7.8rem;
}

.review
{
    margin: 16px 0px 34px 0px;
}

.review-card
{
    border-radius: 8px;
    padding: 37px;
    margin: 0px;
}

.review-card-text
{
    margin: 0px;
}

.review-body
{
    display: flex;
    height: 56px;
    margin: 16px 8px 34px 0px;

}

.review-body-img
{
    display: contents;
    flex-basis: 64px;
    flex-grow: 0.5;
    flex-shrink: 1;
}

.review-body-img > img
{
    height: auto;

}

.review-body-text
{
    flex-basis: 256px;
    flex-grow: 1;
    flex-shrink: 0.5;

    margin: 0px 8px;
}

.review-body-text > p
{
    line-height: 24px;
    margin: 0px; 

    font-size: 14px;
    font-weight: 400;
}

.review-pointer
{
    height: 26px;
	width: 26px;
	background: var(--color-background-light);
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 8px 0;
	margin-top: -14px;
	position: relative;
    left: -42%
}

@media screen and (min-width: 836px) {
    .section-icon
    {
        position: absolute;
        display: inline-block;
        right: 0%;
        margin-top: -32px;
        z-index: 0;
    }

    .btn
    {
        display: block;
        margin: 0px;

        font-size: 20px;
        line-height: 30px;
    }
}

/* Main styles */

body
{
    font-family: 'Nunito', Arial, sans-serif;
    padding: 0;
    margin: 0;
    min-width: 336px;
}

header
{
    position: sticky;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    top: 0px;
    box-shadow: 0px 1px 0px #E5E9F2;
    
    padding: 16px;
}

header > *
{
    align-self: center;
    margin: 0px;
}

main
{
    color: var(--color-background-dark);
    scroll-snap-type: y proximity;
}

section
{
    padding: 64px 5% 64px 5%;
    background-color: var(--color-background-light);
    scroll-snap-align: start;
    max-width: 100vw;
    overflow: hidden;
}

h1
{
    z-index: 2;
    margin-top: 0px;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
}

h2
{
    z-index: 2;
    margin-top: 0px;
    text-align: center;
    font-weight: 800; 
    font-size: 28px;
    line-height: 40px;
    margin: 16px 0px;
}

h3
{
    margin: 0;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px; 
}

h4
{
    font-family: Manrope, Nunito, Arial, sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 2px;
    color: var(--color-primary);
}

h5
{
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

h6
{
    margin: 0px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

p
{
    font-size: 18px;
    line-height: 32px;
}

footer
{
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h2
{
    margin-top: 0px;
    text-align: left;

}

.footer-container
{
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer-li
{
    display: flex;
    margin: 10px 0px;
}

.footer-li-text
{
    margin: 10px;
}

.footer-sub-text
{
    color: #D9DBE1;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (min-width: 836px)
{
    section
    {
        padding: 64px 12%;
    }
    
    header
    {
        padding: 8px 12%;
    }


    header > .btn
    {
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    footer
    {
        flex-flow: row-reverse;
    }

    h1
    {
        font-size: 72px;
        line-height: 88px;
        text-align: left;
        margin: 16px 0px;
        
    }

    h2
    {
        font-size: 48px;
        line-height: 64px;
    }

    h3
    {


        font-weight: 800;
        font-size: 40px;
        line-height: 54px; 
    }
 
}

/* Sections */

.section-1
{
    padding-top: 48px;
}

.section-1-head
{
    position: relative;
}

.section-1-head > p
{
    text-align: center;
}

.section-1-body
{
    position: relative;
    display: block;
    padding: 0px;
    margin: 26px 0px 0px -6%;
    width: 112%;
    height: 262px;
    
}

.section-1-spheres
{
    position: relative;
    width: 120%;
    left: -10%;
}

.section-1-spheres-blue
{
    position: relative;
}

.section-1-spheres-green
{
    position: absolute;
    display: inline-block;
    right: calc(50% - 36%);
    width: 8%;
}

.section-1-img
{
    position: absolute;
    display: inline-block;
    top: 0%;
    width: 100%;
    height: 100%;
}

.section-1-astronaut
{
    position: relative;
    display: inline-block;
    width: 90%;
    left: 7%;
    top: 10%;
}

.section-1-checklist
{
    position: absolute;
    display: inline-block;
    width: 40%;
    left: 0%;
    top: -10%;
}

.section-1-deadline
{
    position: absolute;
    display: inline-block;
    width: 30%;
    right: 5%;
    bottom: 0%;
}

.section-1 div h1
{
    position: relative;
    z-index: 1;
}

.section-1-elipse
{
    position: absolute;
    align-self: center;
    z-index: 0;
    width: 12rem;
    top: 3rem;     
    margin-left: -10rem;
}

@media screen and (min-width: 836px) {
    
    .section-1
    {
        display: flex;
        justify-content: space-between;
    }

    .section-1-head
    {
        z-index: 1;
        min-width: 545px;
        margin-top: 5vw;
    }

    .section-1-head p
    {
        text-align: left;
    }

    .section-1-body
    {
        z-index: 0;
        display: inline-block;
        margin: -64px -16% 64px -20%;

        width: 50vw; 
        height: 100%;

        min-width: 386px;
        min-height: 386px;
        max-height: 686px;
    }

    .section-1-spheres
    {
        position: relative;
        display:  inline-block;
        width: 100%;
        height: 80%;
        max-height: 686px;
        left: 10%;
    }

    .section-1-spheres-blue
    {
        position: relative;
        display: inline-block;
        margin-top: -20%;
        right: -20%;
    }

    .section-1-spheres-green
    {
        position: absolute;
        display: inline-block;
        right: unset;
        bottom: -5%;
        left: 10%;
        
        width: 16%;
    }

    .section-1-img
    {
        position: absolute;
        display: inline-block;
        top: -5%;
        left: 10%;
        width: 100%;
        height: 100%;
    }

    .section-1-astronaut
    {
        position: relative;
        display: inline-block;
        width: 90%;
        left: 7%;
        top: 10%;
    }

    .section-1-checklist
    {
        position: absolute;
        display: inline-block;
        width: 40%;
        left: 0%;
        top: -2%;
    }

    .section-1-deadline
    {
        position: absolute;
        display: inline-block;
        width: 30%;
        right: unset;
        left: 55%;
        bottom: 0%;
    }

    .section-1-elipse
    {
        position: absolute;
        
        z-index: 0;
        width: 20rem;
        top: 5.5rem;     
        left: 0%;
        margin-left: unset;
    }
}


.section-2-body
{
    margin-top: 32px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 48px;
}

.section-2-body-item
{
    display: grid;
    grid-template-columns: 1fr 10fr;
    column-gap: 16px;
}


.section-2-body-item-icon > img
{    
    width: 48px;
}


@media screen and (min-width: 836px) {
    
    .section-2-body
    {
        grid-template-rows: unset;
        row-gap: unset;
        
        margin-top: 48px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }

    .section-2-body-item
    {
        grid-template-columns: unset;
        column-gap: unset;
        
        grid-template-rows: 1fr 2fr;
        row-gap: 24px;
    }

    .section-2-body-item-icon
    {
        height: 72px;
    }

    .section-2-body-item-icon > img
    {   
        display: block; 
        width: 72px;
        margin: auto;
    }

    .section-2-body-item-text
    {
        text-align: center;
    }
}

.section-3-head > h2
{
    text-align: left;
}

.section-3-body
{
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 32px;
}

.section-3-body-item
{
    display: grid;
    grid-template-columns: 1fr 20fr;
    column-gap: 13px;
}

@media (min-width:836px) {

    .section-3
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8px;
    }

    .section-3-head > h2
    {
        text-align: left;
    }

    .section-3-body
    {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 48px;
        column-gap: 8px;
    }

}

.section-4-head
{
    position: relative;
}

.section-4-head > *
{
    position: relative;
    display: block;
    
}

.section-4-head > img
{
    position: absolute;
    display: block;
    width: 20rem;
    top: -1.5rem;
    left: calc(50% - 10rem);
}

.section-4-body
{
    margin-top: 32px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.section-4-body-item
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 16px;
}

.section-4-body-item img
{
    display: block;
    margin: auto;
    max-width: 64px;
}

.section-4-body-item p
{
    margin: 8px 0 0 0;
}

@media (min-width:836px) {
    
    .section-4-head > img
    {
        position: absolute;
        display: block;
        width: 30rem;
        top: -2rem;
        left: calc(50% - 15rem);
    }

    .section-4-body
    {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        
        column-gap: 12px;
    }

    .section-4-body-item
    {
        display: block;
        grid-template-columns: unset;
        column-gap: unset;
        text-align: center;

    }


    .section-4-body-item img
    {
        display: block;
        margin: auto;
        max-width: 128px;
    }

}

.section-5
{
    padding-bottom: 74px;
}

.section-5 > p
{
    font-family: Manrope, Nunito, Arial, sans-serif;
}

.section-5 > h2
{
    margin: 0px;
}

@media (min-width: 836px) {
    .section-5 > h2
    {
        z-index: 2;
        position: relative;
        text-align: left;
    }

    .section-5 > p
    {
        font-size: 28px;
        line-height: 40px;
    }
}

.section-6-body
{
    display: grid;
}

.section-6-body-item-text
{
    text-align: center;
    
}

.section-6-body-item-picture
{
    display: block;
    margin: auto;
    padding: 10%;
    max-width: 360px;
}

@media screen and (min-width: 836px)
{
    .section-6-body
    {
        row-gap: 100px;
    }

    .section-6-body-item
    {
        display: grid;
        grid-template-columns: 1fr 1fr;   
        column-gap: 78px;
        
    }

    .section-6-body-item_r
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 78px;       
    }

    .section-6-body-item_r > .section-6-body-item-text
    {
        display: inline-block;
        grid-row: 1;
        grid-column: 1;
    }

    .section-6-body-item_r > .section-6-body-item-picture
    {
        display: inline-block;
        grid-row: 1;
        grid-column: 2;
    }

    .section-6-body-item *
    {
        text-align: left;
    }

    .section-6-body-item_r *
    {
        text-align: right;
    }

    .section-6-body-item-picture
    {
        margin: unset;
        padding: 3%;
        max-width: 600px;
    }
    
    .section-6-body-item-text
    {
        padding-top: calc(50% - 10vw);

    }
}

.section-7-body-item
{
    margin: 16px 0px;
}

.section-7-body-item-img
{
    margin: 0px;
    padding: 62px 84px;
}

.section-7-body-item-img > img
{
    display: block;
    margin: auto;
    width: 90%;
}

.section-7-body-item-text
{
    margin: 16px 0px;
}

.section-7-body-item-text > p
{
    margin: 0px;

    font-size: 14px;
    font-weight: 400;
}

@media (min-width: 836px) {
    
    .section-7 h2
    {
        text-align: left;
    }

    .section-7-body
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        width: 100%;
    }

    .section-7-body-item
    {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .section-7-body-item-img
    {
        margin: 0px;
        padding: 10% 10%;
    }

    .section-7-body-item-text h3
    {
        font-size: min(40px, 140%);
        line-height: min(54px, 140%) ;
    }
}

.section-8 h2
{
    margin-top: 0;
    margin-bottom: 35px;
}

.section-9-li{
    margin: 16px;

}

.section-9-marker{

    display: contents;
    vertical-align: top;
}

.section-10
{
    margin-bottom: 64px;
}

.section-10-card
{
    border-radius: 12px;
    overflow: hidden;
}

.section-10-card-head
{
    margin: 48px 16px;
}

.section-10-card-body
{
    position: relative;
    padding-top: 48px;
    margin-bottom: -6px;

}

.section-10-card-body > svg
{
    width: 100%;
}

.section-10-card-img-container
{
    position: absolute;
    display: inline-block;
    left: 0%;
    
    height: 100%;
    width: 100%;
}

.section-10-astronaut
{
    position: relative;
    display: inline-block;
    right: -30%;
    height: 120%;
    bottom: 20%;
}

.section-10-arrow
{
    position: relative;
    display: inline-block;
    height: 15%;
    margin-left: 25%;
    top: -132%;
    transform: rotate(75deg);
}

